In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from Config import val_df, train_df, test_df
from statistics import mean

## Percentages

In [2]:
WholeData = test_df.append([val_df, train_df])

In [3]:
print("Number of images:",len(WholeData) )
Whole =WholeData.groupby("subject_id")
print("Number of unique patients:",len(Whole.count()) )

Number of images: 707626
Number of unique patients: 129819

In [4]:
WholeDataX =WholeData.groupby("Sex")
WholeDataX_df = WholeDataX.describe()
WholeDataX_df

        subject_id                                                            \
             count          mean           std      min      25%         50%
Sex
F         317516.0  8.407315e+06  7.736500e+06      1.0  24130.0  11080025.0
M         390109.0  7.479190e+06  7.766944e+06      1.0  20157.0     62926.0
Unknown        1.0  3.309300e+04           NaN  33093.0  33093.0     33093.0

                                No Finding            ... Consolidation       \
                75%         max      count      mean  ...           75%  max
Sex                                                   ...
F        15492782.0  19999987.0   317516.0  0.341932  ...           0.0  1.0
M        15019807.0  19999442.0   390109.0  0.296814  ...           0.0  1.0
Unknown     33093.0     33093.0        1.0  1.000000  ...           0.0  0.0

            Edema
            count      mean       std  min  25%  50%  75%  max
Sex
F        317516.0  0.126457  0.332364  0.0  0.0  0.0  0.0  1.0
M        390109.0  0.129310  0.335543  0.0  0.0  0.0  0.0  1.0
Unknown       1.0  0.000000       NaN  0.0  0.0  0.0  0.0  0.0

[3 rows x 72 columns]

In [5]:
print("Number of images:",len(WholeData) )
Whole =WholeData.groupby("subject_id")
print("Number of unique patients:",len(Whole.count()) )

Number of images: 707626
Number of unique patients: 129819

In [18]:
dfWhole_Sex = WholeDataX_df["subject_id"]['count']
total_CXP= dfWhole_Sex["F"]+dfWhole_Sex["M"]
Male_percent = 100*dfWhole_Sex["M"]/total_CXP
print("Male Percent:  ",Male_percent)

print("female Percent:  ",100*dfWhole_Sex["F"]/total_CXP)
print("#images",total_CXP)

Male Percent:   55.1293411058117
female Percent:   44.8706588941883
#images 707625.0

In [19]:
WholeData['Sex'].value_counts()

M          390109
F          317516
Unknown         1
Name: Sex, dtype: int64

In [7]:
WholeData_020= WholeData[WholeData['Age'] =='0-20' ]
WholeData_2040= WholeData[WholeData['Age'] =='20-40' ]
WholeData_4060= WholeData[WholeData['Age'] =='40-60' ]
WholeData_6080= WholeData[WholeData['Age'] =='60-80' ]
WholeData_80= WholeData[WholeData['Age'] =='80-' ]
totalAgeCXP=len(WholeData_020)+len(WholeData_2040)+len(WholeData_4060)+len(WholeData_6080)+len(WholeData_80)

In [8]:
print("'0-20' Percent:  ",100*len(WholeData_020)/totalAgeCXP)
print("'20-40' Percent:  ",100*len(WholeData_2040)/totalAgeCXP)
print("'40-60' Percent:  ",100*len(WholeData_4060)/totalAgeCXP)
print("'60-80' Percent:  ",100*len(WholeData_6080)/totalAgeCXP)
print("'80-' Percent:  ",100*len(WholeData_80)/totalAgeCXP)
2.395432209763242+18.533110541880834+36.29224697054516+33.89865250753476+8.880557770276

'0-20' Percent:   2.395432209763242
'20-40' Percent:   18.533110541880834
'40-60' Percent:   36.29224697054516
'60-80' Percent:   33.89865250753476
'80-' Percent:   8.880557770276

100.0

## AUC average and CI on 5 run

In [2]:
Eval5 = pd.read_csv("./results6/Eval5.csv")
Eval4= pd.read_csv("./results37/Eval4.csv")
Eval3 = pd.read_csv("./results47/Eval3.csv")
Eval2 = pd.read_csv("./results19/Eval2.csv")
Eval1 = pd.read_csv("./results57/Eval1.csv")

In [3]:
Evalall = Eval1[['label','auc']]

Evalall["auc2"]=Eval2['auc']
Evalall["auc3"]=Eval3['auc']
Evalall["auc4"]=Eval4['auc']
Evalall["auc5"]=Eval5['auc']
round(Evalall,3)

              label    auc   auc2   auc3   auc4   auc5
0       Atelectasis  0.810  0.808  0.807  0.807  0.808
1      Cardiomegaly  0.856  0.858  0.857  0.855  0.855
2     Consolidation  0.806  0.805  0.804  0.805  0.804
3             Edema  0.898  0.899  0.898  0.899  0.897
4        No Finding  0.891  0.890  0.890  0.890  0.890
5  Pleural Effusion  0.923  0.924  0.922  0.921  0.922
6         Pneumonia  0.785  0.784  0.783  0.784  0.784
7      Pneumothorax  0.906  0.903  0.906  0.904  0.901

In [4]:
round(Evalall.mean(axis=0),3)

auc     0.859
auc2    0.859
auc3    0.858
auc4    0.858
auc5    0.858
dtype: float64

In [5]:
print("ALL Mean of 14 aucs mean over 5 run:     ",round(Evalall.mean(axis=0).mean(),3))
print("ALL Confidence interval of 14 aucs mean over 5 run:   ",round(1.96 * Evalall.mean(axis=0).std()/np.sqrt(5) ,3 ) )

ALL Mean of 14 aucs mean over 5 run:      0.859
ALL Confidence interval of 14 aucs mean over 5 run:    0.001

In [6]:
print("ALL Mean of auce per disease over 5 run:     ")
round(Evalall.mean(axis=1),3)

ALL Mean of auce per disease over 5 run:

0    0.808
1    0.856
2    0.805
3    0.898
4    0.890
5    0.922
6    0.784
7    0.904
dtype: float64

In [7]:
print("ALLData Confidence interval of auce per disease over 5 run:     ")
round(1.96 * Evalall.std(axis=1)/ np.sqrt(5),3)

ALLData Confidence interval of auce per disease over 5 run:

0    0.001
1    0.001
2    0.001
3    0.001
4    0.000
5    0.001
6    0.001
7    0.002
dtype: float64